In [2]:
import pyodbc

connection = pyodbc.connect("Driver={SQL Server};"
                         "Server=WIN-JI3TQEC2PKI;"
                         "Database=W3Resource;"
                         "Trusted_Connection=yes;")

cursor = connection.cursor()
cursor.execute("create database People")
cursor.execute("use People")
cursor.execute('''
create table Roster (
    Name varchar(100),
    Species varchar(100),
    Age int)
''')
cursor.executemany('''insert into Roster (Name, Species, Age) values (?, ?, ?)''', [
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29)
])

cursor.execute('''
update Roster
set Name = 'Ezri Dax'
where Name = 'Jadzia Dax'
''')

cursor.execute('''
select Name, Age from Roster
where Species = 'Bajoran'
''')
bajoran = cursor.fetchall()
for item in bajoran:
    print(f'Name: {item[0]}, Age: {item[1]}')
connection.commit()
cursor.close()
connection.close()

Name: Kira Nerys, Age: 29