In [1]:
import pandas as pd

In [ ]:
#1 - #2
Id = [275, 275, 275, 275, 275, 275]
year = [2005, 2005, 2006, 2006, 2006, 2006]
quota = [367000.00, 556000.00, 502000.00, 550000.00, 1429000.00, 1324000.00]

lag = pd.DataFrame({"BusinessEntityID":Id, "SalesYear":year, "CurrentQuota": quota})

#1
lag['PreviousQuota'] = lag['CurrentQuota'].shift(1)


#2
lag['NextQuota'] = lag['CurrentQuota'].shift(-1)

lag

   BusinessEntityID  SalesYear  CurrentQuota  PreviousQuota  NextQuota
0               275       2005      367000.0            NaN   556000.0
1               275       2005      556000.0       367000.0   502000.0
2               275       2006      502000.0       556000.0   550000.0
3               275       2006      550000.0       502000.0  1429000.0
4               275       2006     1429000.0       550000.0  1324000.0
5               275       2006     1324000.0      1429000.0        NaN

In [ ]:
#3
ID = [1, 2, 3, 4, 5]
Ename = ['Pawan', 'Zuzu', 'Parveen', 'Mahesh', 'Ramesh']
Date = ['04-12-1983', '28-11-1986', '07-05-1977', '13-01-1983', '09-05-1983']

bth = pd.DataFrame({"EmpID":ID, "EmpName": Ename, "BirthDate":Date})
bth["BirthDate"] = pd.to_datetime(bth["BirthDate"], format='%d-%m-%Y')
fil_bth = bth[(bth['BirthDate'].dt.month == 5) & (bth['BirthDate'].dt.day >= 7) & (bth['BirthDate'].dt.day >= 7)]
print(fil_bth)

   EmpID  EmpName  BirthDate
2      3  Parveen 1977-05-07
4      5   Ramesh 1983-05-09

In [ ]:
#4
M = ['A', 'A', 'B', 'B', 'D', 'E']
A = ['Amitabh', 'Vinod', 'Amitabh', 'Vinod', 'Amitabh','Vinod']
R = ['Actor', 'Villain', 'Actor', 'Actor', 'Actor', 'Actor']

Actor = pd.DataFrame({"MName":M, "AName":A, "Roles":R})
same = Actor.groupby(['MName', 'Roles']).filter(lambda x: len(x) > 1 and x['AName'].nunique() > 1)

print(same)

  MName    AName  Roles
2     B  Amitabh  Actor
3     B    Vinod  Actor

In [22]:
import numpy as np

In [35]:
#5
id = [1, 1]
name = ['P', np.nan]
typ = [np.nan, 'Q']

PQ = pd.DataFrame({"ID":id, "Name":name, "Typed":typ})
PQ

   ID Name Typed
0   1    P   NaN
1   1  NaN     Q

In [43]:
n = PQ['Name'].dropna() 
t = PQ['Typed'].dropna()
i = PQ['ID'].dropna()

result = pd.DataFrame({"ID":i.reset_index(drop=True), "Name":n.reset_index(drop=True), "Typed":t.reset_index(drop=True)})
print(result.head(1))

   ID Name Typed
0   1    P     Q